@using CordChrisis.Shared.Models
@inject HttpClient Http;


@if (PopularMaps != null&&ReturnedMaps==null)
{
    if (!PopularMaps.IsCompleted)
    {
        Console.WriteLine("I was hit here");
    <div class="d-flex justify-content-center">
        <div class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div style="display:none">
    @waitForPopular();
    </div>
    }  
   
}
 else if(ReturnedMaps != null)
{
    <div class="card-columns">
        @foreach (Map item in ReturnedMaps)
        {
            <div class="card ">
                <div class="card-header">

                    <span class="badge badge-pill badge-primary"> Plays: @item.Plays </span>
                    <span class="badge badge-pill badge-secondary"> Rating: @item.MapRating </span>
                    <span class="badge badge-pill badge-dark"> Difficulty: @convertDifficulty(item.Difficulty)</span>
                </div>
                <div class="card-body">
                    <p class="card-title h3">@item.Name</p>
                    <p class="card-title h5 text-secondary"> Created By: @item.Author</p>
                    <button class="btn btn-outline-primary btn-block itm-skew"> <div class="itm-skew-text">Play!</div></button>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Created: @item.CreatedDate.ToString("MM/dd/yyyy")</small>
                </div>
            </div>
        
        }
    </div>
}
@code {
    [Parameter]
    public List<Map> ReturnedMaps { get; set; }
    [Parameter]
    public Task<List<Map>> PopularMaps { get; set; }

    string convertDifficulty(int num)
    {
        switch (num)
        {
            case 1:
                return "Easy";
            case 2:
                return "Medium";
            case 3:
                return "Hard";
            case 4:
                return "Ultra";
        }
        return "N/A";
    }
    public async Task<List<Map>> waitForPopular()
    {
        Console.WriteLine("IM HERE");
        ReturnedMaps = await PopularMaps;
        Console.WriteLine(ReturnedMaps[0].Name);
        StateHasChanged();
        return ReturnedMaps;
    }
}
