@page "/game/{GameMode:int}/{MapID}"
@page "/game/{GameMode:int}/"
@using CordChrisis.Shared.Models
@using Newtonsoft.Json;
@using NVorbis.Ogg;

@inject IJSRuntime js;
@inject Blazored.SessionStorage.ISessionStorageService Storage;
@inject HttpClient Http;
@inject NavigationManager NavigationManager




<div class="container rounded mt-4 p-1 bg-light">
    <div class="webgl-content">
        <div id="unityContainer" style="width: 100%; height: 500px"></div>
    </div>
    <hr class="bg-warning">
    <button class="btn btn-block btn-dark" @onclick="SetFullScreen"> Full Screen</button>
    @if (!MapTask.IsCompleted)
    {
        <div class="d-flex justify-content-center">
            <div class="spinner-grow" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div style="display:none;">
            @WaitForMapData();
        </div>
    }
    else
    {
        @*<button @onclick="SaveUserMapStats" class="btn btn-block btn-primary"> Played the Game, store data for it please!</button>*@
        <div class="mt-2">

            <div class="container">
                <div class="row p-2">
                    <div class=" m-2  rounded bg-dark col-sm" style="min-width:25%;max-width:100%">
                        <p class="h3 m-2 "> <strong>@GameMap.Name</strong></p>
                        <p class="h5 m-2 italics ">Created: @GameMap.CreatedDate.ToString("MM/dd/yyyy")</p>
                        <div class=" d-flex justify-content-start align-content-center" @onclick="(()=>NavigateToAccount(GameMap.AuthorID))">
                            <p class="h4 m-2 italics "> Created By:&nbsp; <em class="NeonO "> @GameMap.Author</em></p>
                            @if (String.IsNullOrWhiteSpace(MapMakerIcon))
                            {
                                <img class="rounded-circle border border-light border-4 IconSize m-2" src="/css/images/loginGenericUserPFP.jpg">
                            }
                            else
                            {
                                <img class="rounded-circle border border-light border-4 IconSize m-2 " src="@MapMakerIcon">
                            }
                        </div>
                    </div>
                    <div class="container rounded bg-dark m-2 pl-4 pr-4 pt-1 col-sm">
                        <div class="row">
                            <div class="badge badge-success m-1 p-2 col-sm " style="min-width:25%;max-width:100%">
                                <p class="h3 " style="margin-bottom:0px!important">Rating :</p> <p class="h3" style="margin-bottom:0px!important"> @GameMap.Rating </p>
                                <div class="rating w-100">

                                    <input type="radio" name="rating" id="r1" @onclick="GetRating5">
                                    <label class="ratinglabel" for="r1"></label>
                                    <input type="radio" name="rating" id="r2" @onclick="GetRating4">
                                    <label class="ratinglabel" for="r2"></label>
                                    <input type="radio" name="rating" id="r3" @onclick="GetRating3">
                                    <label class="ratinglabel" for="r3"></label>
                                    <input type="radio" name="rating" id="r4" @onclick="GetRating2">
                                    <label class="ratinglabel" for="r4"></label>
                                    <input type="radio" name="rating" id="r5" @onclick="GetRating1">
                                    <label class="ratinglabel" for="r5"></label>

                                </div>
                                @if (LoggedInUserID != String.Empty)
                                {
                                    <button class="btn btn-outline-light btn-block btn-shadow m-1" style="margin-left:0px!important" @onclick="SubmitUserRating"> Submit Rating</button>
                                }
                                else
                                {
                                    <button class="btn btn-outline-light btn-block btn-shadow m-1 disabled" style="margin-left:0px!important" @onclick="SubmitUserRating"> Log in to rate</button>
                                }
                            </div>

                            <div class="badge badge-primary m-1 col-sm " style="min-width:25%;max-width:100%">

                                <p class="h3 " style="margin-bottom:0px!important">Plays :</p>
                                <p class="h3" style="margin-bottom:0px!important"> @GameMap.Plays </p>

                            </div>


                            <div class="badge badge-warning m-1 col-sm " style="min-width:25%;max-width:100%;">
                                <p class="h3" style="margin-bottom:0px!important">Difficulty :</p>
                                <p class="h3" style="margin-bottom:0px!important"> @DisplayDifficulty </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    }
</div>




@code {
    [Parameter]
    public int GameMode { get; set; }
    [Parameter]
    public string MapID { get; set; }
    Map GameMap { get; set; }
    Task<Map> MapTask { get; set; }
    Task<UserStats> MapMakerTask { get; set; }
    string LoggedInUserID = string.Empty;
    UserMapStats userStats = new UserMapStats();
    string DisplayDifficulty = "";
    bool hasStats = false;
    decimal UserRating = 0;
    string MapMakerIcon = String.Empty;


    async void SetFullScreen()
    {
        await this.js.InvokeVoidAsync("FullScreen");
    }

    protected async override void OnInitialized()
    {
        MapTask = Http.PostJsonAsync<Map>(@"searchpage/readsingle", MapID);
        LoggedInUserID = await GetCurrentLogOnSession();
        if (LoggedInUserID != null)
        {
            userStats.MapID = MapID;
            userStats.UserID = LoggedInUserID;
            userStats = await Http.PostJsonAsync<UserMapStats>(@"usermapstats/get", userStats);
            if (userStats.Plays != 0) hasStats = true; //temp code used to save temp data
            base.OnInitialized();
        }
        base.OnInitialized();
    }

    async Task SaveGameActivationToSession()
    {
        await Storage.SetItemAsync("GameRunning", true);
    }

    async Task<string> GetCurrentLogOnSession()
    {
        return await Storage.GetItemAsync<string>("LoggedIn");
    }


    async Task WaitForMapData()
    {
        Console.WriteLine("Currently waiting for the map");
        GameMap = await MapTask;
        Console.WriteLine("Getting User info");
        UserStats temp = await Http.PostJsonAsync<UserStats>("userstats/post", GameMap.AuthorID);
        Console.WriteLine("Managed to leave that task...");
        if (temp.UserImage != null)
        {
            Console.WriteLine("User info was returned!");
            MapMakerIcon = await this.js.InvokeAsync<string>("ConvertByteArrayToImage", temp.UserImage);
        }
        Console.WriteLine("Dealing with difficulty conversion");
        DisplayDifficulty = convertDifficulty(GameMap.Difficulty);
        string passGameMode = GameMode == 1 ? "true" : "false";
        Console.WriteLine("Calling for json");
        //Console.WriteLine(GC.GetTotalMemory(true).ToString());
        Console.WriteLine("Calling for song ");

        // GC.Collect();
        // MemoryStream datastream = await Http.GetJsonAsync<MemoryStream>("/GameFiles/audio.ogg");
        // Console.WriteLine("Converting byte[] to memstream");
        // MemoryStream datastream = new MemoryStream(songdata);
        // Console.WriteLine("Converting memstream to ogg");
        //var song = new NVorbis.VorbisReader(datastream);

        //Console.WriteLine("Converting ogg to string");
        // string passSong = song.ToString();
        Console.WriteLine("About to call the js to start the game and pass its data");
        string songurl = NavigationManager.BaseUri + @"searchpage/readsinglesong/"+GameMap.ID;
        string mapurl = NavigationManager.BaseUri  + @"GameFiles/game.json";
        await this.js.InvokeVoidAsync("start", passGameMode, "2.0", "0.0", mapurl, songurl);
        await Storage.SetItemAsync("GameRunning", false);
        await SaveGameActivationToSession();
        StateHasChanged();

    }
    string convertDifficulty(int num)
    {
        switch (num)
        {
            case 1:
                return "Easy";
            case 2:
                return "Medium";
            case 3:
                return "Hard";
            case 4:
                return "Ultra";
        }
        return "N/A";
    }


    async Task SaveUserMapStats()
    {
        if (!String.IsNullOrWhiteSpace(LoggedInUserID))
        {
            if (!hasStats)
            {

                Random rnd = new Random();
                userStats = new UserMapStats
                {
                    UserID = LoggedInUserID,
                    MapID = MapID,
                    MaxCombo = rnd.Next(5, 150),
                    Score = rnd.Next(100000, 1000000),
                    Plays = rnd.Next(1, 500),
                    Rating = (decimal)rnd.Next(1, 5),
                    LetterScore = "Z"
                };
            }
            else
            {
                userStats.Plays += 1;
            }

            await Http.PostJsonAsync(@"usermapstats/post", userStats);

        }
    }

    public void NavigateToAccount(string MapMakerID)
    {
        Console.WriteLine(MapMakerID);
        NavigationManager.NavigateTo("/account/" + MapMakerID);
    }

    async Task SubmitUserRating()
    {
        if (UserRating != 0)
        {
            GameMap.NumOfRatings++;

            Console.WriteLine("Current Rating " + GameMap.Rating + "plus new rating " + UserRating + " Plus new amount of total ratings " + GameMap.NumOfRatings);
            GameMap.Rating = (decimal)(GameMap.Rating + UserRating) / (GameMap.NumOfRatings);
            string GameMapJson = JsonConvert.SerializeObject(GameMap);
            await Http.PostJsonAsync(@"searchpage/update", GameMapJson);
        }
    }

    void GetRating1() => UserRating = 1;
    void GetRating2() => UserRating = 2;
    void GetRating3() => UserRating = 3;
    void GetRating4() => UserRating = 4;
    void GetRating5() => UserRating = 5;

}
